

    body{
            display: grid;
            background-color: white;
            font-family: Lato, sans-serif;
        }


        .user-profile{
            margin: auto;
            width: 25em; 
          height: 11em;
          background: #fff;
          border-radius: .3em;
        }

.header {
    padding: 50px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 25px;
    width: 90%; 
    margin:  0;
    padding: 30px 5%;
}





.cards{
        position: relative;
        margin: auto;
        margin-top: 50px;
        overflow: hidden;
        width: 520px;
        height: 350px;
        background: #F5F5F5;
        border-radius: 20px 20px;
    }

 
        h1{
            font-size: 1.2em;
            color: #383839;
            margin-top: 05px;
        }
 
        img{
            width: 180px;
            margin: 40px;
        }
 
        .children-container{
            position: absolute;
            width: 50%;
            height: 100%;
            top: 20%;
            left: 50%;
        }
 
        button{
            font-size: 0.7em;
            background: darken(#E0C9CB);
            padding: 10px;
            display: inline-block;
            outline: 0;
            border: 0;
            margin: -1px;
            border-radius: 2px;
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;
 
            /* &:hover {
              background: #BA7E7E;
              transition: all .4s ease-in-out;
            } */
            
        }
 
        .like{
            width: 22%;
        }
        
        .delete {
            width: 67%;
        }
        
        #cardPlus {
             text-align: center;
             cursor: pointer;
            }
    
    .button-container {
    display: flex;
    justify-content: center;


    }

    .button {
    width: 100px;
    height: 80px;
    }

    #delete {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    }

    .lists {
	display: flex;
	justify-content: center;
	flex: 1;
	width: 100%;
	overflow-x: scroll;
	padding-top: 10%;
}

.lists .list {
	display: flex;
	flex-flow: column;
	flex: 1;
	width: 100%;
	min-width: 250px;
	max-width: 600px;
	height: 100%;
	min-height: 150px;
	background-color: rgba(0, 0, 0, 0.1);
	margin: 0 15px;
	padding: 8px;
	transition: all 0.2s linear;

}

.lists .list .list-item {
	background-color: #F3F3F3;
	border-radius: 8px;
	padding: 15px 20px;
	text-align: center;
	margin: 4px 0px;
	height: 140px;
}

